{% extends 'base.html' %}
{% block content %}
{% block title %} {{product_pk.name}} {% endblock %}
<section class="pt-5 pb-5">
  <div class="container">
{% comment %} {{cart_session}} {% endcomment %}

<br>
<br>
{% comment %} {{products}} {% endcomment %}
<br>
<hr>
{% comment %} {% for i in products %} {% endcomment %}
{% comment %} {{i.name}}<br> {% endcomment %}


    <div class="row w-100">
        <div class="col-lg-12 col-md-12 col-12">
            <h3 class="display-5 mb-2 text-center">Корозина Покупателя</h3>
            <p class="mb-5 text-center">
                <i class="text-info font-weight-bold">{{all}}</i> items in your cart</p>
            <table id="shoppingCart" class="table table-condensed table-responsive">
                <thead>
                {%  for p in p %}
                <h4 class="card-title">{{p.name}}</h4>
                {% endfor %}
                    <tr>
                        <th style="width:60%">Продукт</th>
                        <th style="width:12%">Цена</th>
                        <th style="width:10%">Количество</th>
                        <th style="width:16%">Сумма</th>
                        <th style="width:16%">Удалить</th>
                    </tr>
                </thead>
                {% for p in products %}
                <tbody>
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-md-3 text-left">
                

                                    <img src="{{p.image.url}}" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                
                                </div>
                                <div class="col-md-9 text-left mt-sm-2">
                                    <h4>{{ p.name }}</h4>
                                    <p class="font-weight-light">Brand: &amp; {{p.category}}</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">${{p.price}}</td>
                        <td data-th="Quantity">
                            {% comment %} <input type="number" class="form-control form-control-lg text-center" value="1"> {% endcomment %}
                            {{p.count}}
                        </td>
                        <td class="actions" data-th="">${{p.sum}}
                            {% comment %} <div class="text-right">
                                {% comment %} <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                    <i class="fas fa-sync"></i>
                                </button> {% endcomment %}
                                {% comment %} <button class="btn btn-white border-secondary bg-white btn-md mb-2"> {% endcomment %}
                                    <i class="fas fa-trash"></i>
                                    {% comment %} <li>{{products.sum}}</li> {% endcomment %}
                                </button>
                              
                            
                            </div> 
                            
                       
                    
                
                       
         
                        </td>
                        <td class="actions" data-th="">
                             {% comment %} </td> {% endcomment %}
                          <a href="{% url 'remove_from_cart' pk=p.pk  %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
  <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/></svg></a>
                    </tr>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="float-right text-right">
                <h4>Subtotal:</h4>
                <h1>${{price}}</h1>
                
            </div>
        </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
        <div class="col-sm-6 order-md-2 text-right">
            {% comment %} <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a> {% endcomment %}
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Для заказа напишите свои контакты</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'order' %}" method="POST">
        {% csrf_token %}
        <input class="form-control form-control-sm" type="text" placeholder="input name your" aria-label=".form-control-sm example" name='c_name'>
        <br>
        <input class="form-control form-control-sm" type="text" placeholder="input secondname your" aria-label=".form-control-sm example"name='c_lname'>
        <br>
        <input class="form-control form-control-sm" type="text" placeholder="input phone numbers" aria-label=".form-control-sm example"name='c_phnumber'>
        <br>
        <input class="form-control form-control-sm" type="email" placeholder="email" aria-label=".form-control-sm example"name='c_email'>
        <br>
        <input class="form-control form-control-sm" type="text" placeholder="address" aria-label=".form-control-sm example"name='c_address'>
        <br>

        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
        </form>
      </div>
      {% comment %} <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example"> {% endcomment %}
      
    </div>
  </div>
</div>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.extra_tags}}debgerous alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">Здесь нету покупок</button>
</div>
{% endfor %}
{%endif%}
        <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
            <a href="{% url 'homepage' %}">
                <i class="fas fa-arrow-left mr-2"></i> Продолжить покупки</a>
        </div>
    </div>
</div>
</section>
{% comment %} https://bootstraptor.com/snippets/bootstrap-4-snippet-shopping-cart/ {% endcomment %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"><script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"><script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"><script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"><script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"><script>
{% endblock %}